---
import '../styles/logos.css'
import {Image} from 'astro:assets';


import GoogleLogo from '../assets/google-logo.webp';

---
<section class="logos">
    <div class="logos-cont">

        <div class="logos-grid">

            <div class="grid">
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div class="grid2">
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

       
            <div>
                <Image src={GoogleLogo} alt="google-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

            <div>
                <Image src={GoogleLogo} alt="Plankton-Logo" class="logos-img" 
                />
            </div>

        </div>
    </div>
</section>
